*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wide{
    padding: 2rem 15rem;
}

header nav{
    background-color: #ff6900;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
}

div p{
    display: inline-block;
}

div.logo img{
    width: 10rem;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

section.container{  /*Main*/
    margin: 2rem 0;
    justify-content: space-between;
    
}




.item-image>img{
    width: 300px;
}

span.favourite{
    top: 10px;
    right: 0;
}

span.discount-50{
    bottom: 50px;
    left: 0px;
}

.sostenibility{
    bottom: 50px;
    left: 50px;
}








footer{ /*Footer*/
    background-color: #1a1a1a;
    justify-content: space-between;
    color: white;
    padding: 2rem;
}

