*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex{
    display: flex;
}

.wide{
    padding: 2rem 15rem;
}

header nav{
    background-color: #ff6900;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    color: white;
}

div.links>a{
    text-decoration: none;
    outline: none;
    color: white;
}

div p{
    display: inline-block;
}

div.logo img{
    width: 10rem;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

section.container{  /*Main*/
    margin: 2rem 0;
    justify-content: space-between;
}

.item-image>img{
    width: 300px;
}

span.favourite{
    top: 10px;
    right: 0;
    font-size: 2rem;
    padding: 0.25rem 1rem;
    background-color: white;
}

span.discount{
    bottom: 50px;
    left: 0px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 0.5rem;
}

.sostenibility{
    bottom: 50px;
    left: 50px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 0.5rem;
}

div.item-text>h1{
    font-weight: lighter;
    font-size: 0.8rem;
}

div.item-text>h2{
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

div.item-text>p{
    font-weight: bold;
    font-size: 1rem;
    color: red;
    text-transform: uppercase;
}

footer{ /*Footer*/
    background-color: #1a1a1a;
    justify-content: space-between;
    color: white;
    padding: 2rem;
}

footer h4{
    font-weight: lighter;
    font-size: 0.9rem;
    display: inline-block;
    padding: 0.5rem;
}